uvicorn[standard]==0.32.1
fastapi==0.103.2 # Downgrade to support typing-extensions requirements
typing-extensions==4.5.0 # Downgrade to support fastapi and ultralytics requirements
# Use opencv-python from base image
# Use numpy from base image
# Use ultralytics from base image
lapx==0.5.11
paho-mqtt==2.1.0
scikit-image==0.21.0
pytubefix>=6.5.2
