uvicorn[standard]==0.32.1
fastapi==0.103.2 # Downgrade to support typing-extensions==4.5.0 requirements
typing-extensions==4.5.0 # Upgrade to support fastapi==0.103.2 and ultralytics==8.3.48 requirements

numpy==1.23.5
opencv-python==4.10.0.84
ultralytics==8.3.48
lapx==0.5.11

paho-mqtt==2.1.0
